    .editor{
        position: fixed;
        top:100px;
        right: 20px;
        width:100px;
        height: 100px;
        background: linear-gradient(rgb(231, 128, 252), rgb(203, 178, 255));
        border-radius: 50%;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .editor:hover{
        background: rgb(164, 247, 255);
        box-shadow: 0 0 20px 8px rgb(164, 247, 255);
    }