<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My Logging</title>
    <link rel="stylesheet" href="/static/css/homepage.css" type="text/css">
    <link rel="stylesheet" href="/static/alert/alert.css">
    <link rel="stylesheet" href="/static/css/head_bar.css">
</head>
<style>
</style>
<body>

<div class="head_bar">
    <div class="head-h">
            <div class="head-img-h"></div>
            <div class="panel-h">
                <li><a href="">学习进度</a></li>
                <li><a href="">学习计划</a></li>
                <li><a href="">学习资料</a></li>
                <li><a href="">我的收藏</a></li>
                <li><a href="/content/category/">MY LOGGING</a></li>
            </div>
    </div>
</div>
<div class="container">
    <div class="panel">
        {% for item in article_type %}
            <div class="items">
                <a href="/content/HomePage/?id={{ item.id }}">
                    <span class="item" >
                        <span class="ico_tit">
                            <div class="cate_ico" style="background-image: url('/static/data/{{ item.cate_img }}');background-size: contain;background-repeat: no-repeat"></div>
                            <span>{{ item.category }}</span>
                        </span>

                    </span>
            </a>
            </div>
        {% endfor %}

        <div class="items"><button style="border: none;background: transparent;" class="add"></button></div>
    </div>
</div>
<div class="alert">
            <button id="close"></button>
            <form action="/content/add_category/" method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text_type" placeholder="添加分类">
                    {{ form.category }}
                </div>
                <div class="text_type" id="sub_file" placeholder="分类图片">
                    {{ form.cate_img }}
                </div>
                <button type="submit" id="confirm_btn">添加</button>
            </form>
        </div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script>

$(function() {
    $(".add").click(function (){
       $(".alert").show();
  });
    $("#close").click(function (){
      $(".alert").hide();
  });

 });
$("#close").hover(function (){
     $(this).addClass("to_large")
  });
$("#close").hover(null,function (){
     $(this).removeClass("to_large")
  });
 $('.text_type input').on('focus', function () {
        $(this).parent().addClass('focus');
    })
$('.text_type input').on('blur', function () {
    if ($(this).val() === '')
        $(this).parent().removeClass('focus');
    })

</script>
</body>
</html>
