<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My Logging</title>
    <link rel="stylesheet" href="/static/css/homepage.css" type="text/css">
</head>
<body>
<div class="reBack"><a href="/content/category/">返回</a></div>
<div id="del_category"><a href="/content/del_category/?id={{ article_type.id }}">删除</a></div>
<div class="container">
    <div class="panel">

        {% for item in items %}
            <div class="items">
                <a href="/content/detail/?id={{ item.id }}">
                    <span class="item">
                        <span class="Title">
                            {{ item.title }}
                        </span>
                    </span>
            </a>
            </div>
        {% endfor %}

        <div class="items" id="add"><a href="/content/editor/?article_type={{ article_type.id }}" class="add"></a></div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script>
</script>
</body>
</html>
